
/* body {
    background-color: rgba(255, 205, 158, 1);
} */

.words1 {
    background-color: rgba(255, 205, 158, 1);
    border: 2px solid black;
    height: 35%;
}


.words1 .container {
    padding: 5%; 
    padding-left: 10%;
}

.container h1 {
    line-height: 2.5rem;
    font-weight: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container p {
    font-weight: lighter;
    line-height: 1.5rem;
    font-size: 18px;
}

.form1 input{
    border: 5px solid black;
    border-radius: 5%;
    height: 30px;
    width: 300px;
}
.form1 button {
    background: black;
    border: 5px solid black;
    border-radius: 5%;
    color: white;
    height: 38px;
    width: 150px;
}

.image1 {
    float: right;
    width: 33.3%;
    padding-right: 10%;
    margin-right: 2%;
}

.footer {
    display: flex;
    background: rgba(40, 40, 40, 1);
    width: 100%;
    color: white;
}

.footer .left-side {
    padding-left: 10%;
}

.footer .right-side {
    margin-left: auto;
    padding-right: 12%;
    text-align: right;
}